.details-content{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

.details-content > * > .image-wrapper{
    overflow: hidden;
    height: 250px;
    border-radius: 7px;
}

@media (max-width: 867px) {
    .details-content{
        flex-direction: column;
    }
}