.profile-pic{
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}

.profile-image-name{
    display: flex;
    width: 45%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-page{
    margin-top: 20px;
}